.mdps-pill {
  background-color: var(--st-gray-50);
  border-radius: 10px;
  color: var(--st-white);
  font-size: 0.75em;
  font-weight: 700;
  line-height: 100%;
  padding: 4px 8px;
  text-transform: uppercase;
  word-wrap: break-word;
}