:root {

  /* Colors. */
  --unity-black: #000;
  --unity-white: #fff;
  --unity-brand: var(--unity-primary-90);

  /* Primary Color Palette. */
  --unity-primary-100: #46039C;
  --unity-primary-90: #5809BB;
  --unity-primary-80: #6B0EE1;
  --unity-primary-70: #811FFF;
  --unity-primary-60: #984EFF;
  --unity-primary-50: #A864FF;
  --unity-primary-40: #B881FF;
  --unity-primary-30: #CAA0FF;
  --unity-primary-20: #E0CAFF;
  --unity-primary-10: #F0E4FF;

}