:root {

  /* Colors. */
  --mdps-black: #000;
  --mdps-white: #fff;
  --mdps-brand: var(--mdps-primary-90);

  /* Primary Color Palette. */
  --mdps-primary-100: #46039C;
  --mdps-primary-90: #5809BB;
  --mdps-primary-80: #6B0EE1;
  --mdps-primary-70: #811FFF;
  --mdps-primary-60: #984EFF;
  --mdps-primary-50: #A864FF;
  --mdps-primary-40: #B881FF;
  --mdps-primary-30: #CAA0FF;
  --mdps-primary-20: #E0CAFF;
  --mdps-primary-10: #F0E4FF;

}